 @import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(/BlackJack/images/background.jpg);
  background-size: auto;
  backdrop-filter: blur(5px);
  margin: 0%;
}
section {
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 200%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.menu-displayer {
  position: absolute;
  top: 40vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  width: 53vw;
  height: 18vh;
  font-size: 1.12em;
  border-radius : 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-game {
  background-color: white; /* Black */
  border: none;
  color: black;
  padding: 8px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.damier { 
  display: flex;
  flex-direction: column;
  background: rgba(0, 128, 0, 0.9);
  height: 50vh;
  width: 80vw;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 20px 20px 25px 13px rgb(0 0 45 / 58%);
}


.my-five-cards {
  display: flex;
  justify-content: space-evenly;
}

.card-slot {
  height: 123px;
  width: 91px;
  background-color: beige;
  display: flex;
}

.choices {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}

.choose {
  background-color: #000000; /* Black */
  border: none;
  color: white;
  padding: 8px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.user-message {
  color: white;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  width: 50vw;
  height: 20vh;
  border-radius : 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display :none;
}

#retry {
  background-color: white; /* Black */
  border: none;
  color: black;
  padding: 8px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
