 @import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(/BlackJack/images/background.jpg);
  background-size: auto;
  backdrop-filter: blur(5px);
  margin: 0%;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.menu-displayer {
  display: flex;
  
  justify-content: center;
  flex-direction: column;
}

.damier {
  display: flex;
  flex-direction: column;
  background: green;
  height: 50vh;
  width: 80vw;
  padding: 20px;
}

.hidden {
  display :none;
}

.my-five-cards {
  display: flex;
  justify-content: space-evenly;
}

.card-slot {
  height: 123px;
  width: 78px;
  background-color: beige;
}

.choices {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}